<a href="https://colab.research.google.com/github/shivraj7/numpy/blob/main/Scalar_Day41_numpy_3_22_march_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fitbit solution

Columns,feature,attributes all have same meaning.

Row,records,observation all have same meaning.

In [2]:
import numpy as np

Q. Meaning of ! and gdown

A. In the context of Google Colab or Jupyter Notebooks, the exclamation mark `!` at the beginning of a command denotes that the command should be executed in the shell or command-line interface of the underlying operating system.

For example, if you write `!ls` in a Colab cell, it will list the contents of the current directory just like the `ls` command does in a Linux or Unix shell.

So, when you use `!gdown`, it means you're executing the `gdown` command in the shell, which is a way to download files from Google Drive directly within the Colab environment.

In [1]:
!gdown 1vk1Pu0djiYcrdc85yUXZ_Rqq2oZNcohd

Downloading...
From: https://drive.google.com/uc?id=1vk1Pu0djiYcrdc85yUXZ_Rqq2oZNcohd
To: /content/fit.txt
100% 3.43k/3.43k [00:00<00:00, 13.4MB/s]

In [4]:
data = np.loadtxt('fit.txt',dtype='str')
data

array([['06-10-2017', '5464', 'Neutral', '181', '5', 'Inactive'],
       ['07-10-2017', '6041', 'Sad', '197', '8', 'Inactive'],
       ['08-10-2017', '25', 'Sad', '0', '5', 'Inactive'],
       ['09-10-2017', '5461', 'Sad', '174', '4', 'Inactive'],
       ['10-10-2017', '6915', 'Neutral', '223', '5', 'Active'],
       ['11-10-2017', '4545', 'Sad', '149', '6', 'Inactive'],
       ['12-10-2017', '4340', 'Sad', '140', '6', 'Inactive'],
       ['13-10-2017', '1230', 'Sad', '38', '7', 'Inactive'],
       ['14-10-2017', '61', 'Sad', '1', '5', 'Inactive'],
       ['15-10-2017', '1258', 'Sad', '40', '6', 'Inactive'],
       ['16-10-2017', '3148', 'Sad', '101', '8', 'Inactive'],
       ['17-10-2017', '4687', 'Sad', '152', '5', 'Inactive'],
       ['18-10-2017', '4732', 'Happy', '150', '6', 'Active'],
       ['19-10-2017', '3519', 'Sad', '113', '7', 'Inactive'],
       ['20-10-2017', '1580', 'Sad', '49', '5', 'Inactive'],
       ['21-10-2017', '2822', 'Sad', '86', '6', 'Inactive'],
       ['22-10-2017', '181', 'Sad', '6', '8', 'Inactive'],
       ['23-10-2017', '3158', 'Neutral', '99', '5', 'Inactive'],
       ['24-10-2017', '4383', 'Neutral', '143', '4', 'Inactive'],
       ['25-10-2017', '3881', 'Neutral', '125', '5', 'Inactive'],
       ['26-10-2017', '4037', 'Neutral', '129', '6', 'Inactive'],
       ['27-10-2017', '202', 'Neutral', '6', '8', 'Inactive'],
       ['28-10-2017', '292', 'Neutral', '9', '5', 'Inactive'],
       ['29-10-2017', '330', 'Happy', '10', '6', 'Inactive'],
       ['30-10-2017', '2209', 'Neutral', '72', '5', 'Inactive'],
       ['31-10-2017', '4550', 'Happy', '150', '8', 'Active'],
       ['01-11-2017', '4435', 'Happy', '141', '5', 'Inactive'],
       ['02-11-2017', '4779', 'Happy', '156', '4', 'Inactive'],
       ['03-11-2017', '1831', 'Happy', '57', '5', 'Inactive'],
       ['04-11-2017', '2255', 'Happy', '72', '4', 'Inactive'],
       ['05-11-2017', '539', 'Happy', '17', '5', 'Active'],
       ['06-11-2017', '5464', 'Happy', '181', '4', 'Inactive'],
       ['07-11-2017', '6041', 'Neutral', '197', '3', 'Inactive'],
       ['08-11-2017', '4068', 'Happy', '131', '2', 'Inactive'],
       ['09-11-2017', '4683', 'Happy', '154', '9', 'Inactive'],
       ['10-11-2017', '4033', 'Happy', '137', '5', 'Inactive'],
       ['11-11-2017', '6314', 'Happy', '193', '6', 'Active'],
       ['12-11-2017', '614', 'Happy', '19', '4', 'Active'],
       ['13-11-2017', '3149', 'Happy', '101', '5', 'Active'],
       ['14-11-2017', '4005', 'Happy', '139', '8', 'Active'],
       ['15-11-2017', '4880', 'Happy', '164', '4', 'Active'],
       ['16-11-2017', '4136', 'Happy', '137', '5', 'Active'],
       ['17-11-2017', '705', 'Happy', '22', '6', 'Active'],
       ['18-11-2017', '570', 'Neutral', '17', '5', 'Active'],
       ['19-11-2017', '269', 'Happy', '9', '6', 'Active'],
       ['20-11-2017', '4275', 'Happy', '145', '5', 'Inactive'],
       ['21-11-2017', '5999', 'Happy', '192', '6', 'Inactive'],
       ['22-11-2017', '4421', 'Happy', '146', '5', 'Inactive'],
       ['23-11-2017', '6930', 'Happy', '234', '6', 'Inactive'],
       ['24-11-2017', '5195', 'Happy', '167', '5', 'Inactive'],
       ['25-11-2017', '546', 'Happy', '16', '6', 'Inactive'],
       ['26-11-2017', '493', 'Happy', '17', '7', 'Active'],
       ['27-11-2017', '995', 'Happy', '32', '6', 'Active'],
       ['28-11-2017', '1163', 'Neutral', '35', '7', 'Active'],
       ['29-11-2017', '6676', 'Sad', '220', '6', 'Active'],
       ['30-11-2017', '3608', 'Happy', '116', '5', 'Active'],
       ['01-12-2017', '774', 'Happy', '23', '6', 'Active'],
       ['02-12-2017', '1421', 'Happy', '44', '7', 'Active'],
       ['03-12-2017', '4064', 'Happy', '131', '8', 'Active'],
       ['04-12-2017', '2725', 'Happy', '86', '8', 'Active'],
       ['05-12-2017', '5934', 'Happy', '194', '7', 'Active'],
       ['06-12-2017', '1867', 'Happy', '60', '8', 'Active'],
       ['07-12-2017', '3721', 'Sad', '121', '5', 'Active'],
       ['08-12-2017', '2374', 'Neutral', '76', '4', 'Inactive'],
       ['09-12-2017', '2909', 'Neutral', '93', '3', 'Active'],
       ['10-12-2017', '1648', 'Sad', '53', '3', 'Active'],
       ['11-12-2017', '799', 'Sad', '25', '4', 'Inactive'],
       ['12-12-2017', '7102', 'Neutral', '227', '5', 'Active'],
       ['13-12-2017', '3941', 'Neutral', '125', '5', 'Active'],
       ['14-12-2017', '7422', 'Happy', '243', '5', 'Active'],
       ['15-12-2017', '437', 'Neutral', '14', '3', 'Active'],
       ['16-12-2017', '1231', 'Neutral', '39', '4', 'Active'],
       ['17-12-2017', '1696', 'Sad', '55', '4', 'Inactive'],
       ['18-12-2017', '4921', 'Neutral', '158', '5', 'Active'],
       ['19-12-2017', '221', 'Sad', '7', '5', 'Active'],
       ['20-12-2017', '6500', 'Neutral', '213', '5', 'Active'],
       ['21-12-2017', '3575', 'Neutral', '116', '5', 'Active'],
       ['22-12-2017', '4061', 'Sad', '129', '5', 'Inactive'],
       ['23-12-2017', '651', 'Sad', '21', '5', 'Inactive'],
       ['24-12-2017', '753', 'Sad', '28', '4', 'Inactive'],
       ['25-12-2017', '518', 'Sad', '16', '3', 'Inactive'],
       ['26-12-2017', '5537', 'Happy', '180', '4', 'Active'],
       ['27-12-2017', '4108', 'Neutral', '138', '5', 'Active'],
       ['28-12-2017', '5376', 'Happy', '176', '5', 'Active'],
       ['29-12-2017', '3066', 'Neutral', '99', '4', 'Active'],
       ['30-12-2017', '177', 'Sad', '5', '5', 'Inactive'],
       ['31-12-2017', '36', 'Sad', '1', '3', 'Inactive'],
       ['01-01-2018', '299', 'Sad', '10', '3', 'Inactive'],
       ['02-01-2018', '1447', 'Neutral', '47', '3', 'Inactive'],
       ['03-01-2018', '2599', 'Neutral', '84', '2', 'Inactive'],
       ['04-01-2018', '702', 'Sad', '23', '3', 'Inactive'],
       ['05-01-2018', '133', 'Sad', '4', '2', 'Inactive'],
       ['06-01-2018', '153', 'Happy', '0', '8', 'Inactive'],
       ['07-01-2018', '500', 'Neutral', '0', '5', 'Active'],
       ['08-01-2018', '2127', 'Neutral', '0', '5', 'Inactive'],
       ['09-01-2018', '2203', 'Happy', '0', '5', 'Active']], dtype='<U10')

Q. what does shape retruns

A. It returns a tuple. In Python, a tuple is an immutable collection of ordered elements, similar to a list. However, unlike lists, tuples cannot be modified once they are created. Tuples are defined by enclosing the elements in parentheses (), with elements separated by commas.

Example
mixed_tuple = (1, 'apple', [5, 6, 7], ('x', 'y', 'z'))

Tuples are immutable, meaning once created, you cannot modify their elements or their size:

my_tuple[0] = 100  # This will raise a TypeError

Because of their immutability, tuples offer performance benefits over lists in certain situations and provide a level of safety when working with data that should not be changed accidentally.

In [5]:
data.shape

(96, 6)

In [6]:
data.ndim

2

In [7]:
data[0]

array(['06-10-2017', '5464', 'Neutral', '181', '5', 'Inactive'],
      dtype='<U10')

In [8]:
#transpose of data
data.T.shape

(6, 96)

In [10]:
data.T

array([['06-10-2017', '07-10-2017', '08-10-2017', '09-10-2017',
        '10-10-2017', '11-10-2017', '12-10-2017', '13-10-2017',
        '14-10-2017', '15-10-2017', '16-10-2017', '17-10-2017',
        '18-10-2017', '19-10-2017', '20-10-2017', '21-10-2017',
        '22-10-2017', '23-10-2017', '24-10-2017', '25-10-2017',
        '26-10-2017', '27-10-2017', '28-10-2017', '29-10-2017',
        '30-10-2017', '31-10-2017', '01-11-2017', '02-11-2017',
        '03-11-2017', '04-11-2017', '05-11-2017', '06-11-2017',
        '07-11-2017', '08-11-2017', '09-11-2017', '10-11-2017',
        '11-11-2017', '12-11-2017', '13-11-2017', '14-11-2017',
        '15-11-2017', '16-11-2017', '17-11-2017', '18-11-2017',
        '19-11-2017', '20-11-2017', '21-11-2017', '22-11-2017',
        '23-11-2017', '24-11-2017', '25-11-2017', '26-11-2017',
        '27-11-2017', '28-11-2017', '29-11-2017', '30-11-2017',
        '01-12-2017', '02-12-2017', '03-12-2017', '04-12-2017',
        '05-12-2017', '06-12-2017', '07-12-2017', '08-12-2017',
        '09-12-2017', '10-12-2017', '11-12-2017', '12-12-2017',
        '13-12-2017', '14-12-2017', '15-12-2017', '16-12-2017',
        '17-12-2017', '18-12-2017', '19-12-2017', '20-12-2017',
        '21-12-2017', '22-12-2017', '23-12-2017', '24-12-2017',
        '25-12-2017', '26-12-2017', '27-12-2017', '28-12-2017',
        '29-12-2017', '30-12-2017', '31-12-2017', '01-01-2018',
        '02-01-2018', '03-01-2018', '04-01-2018', '05-01-2018',
        '06-01-2018', '07-01-2018', '08-01-2018', '09-01-2018'],
       ['5464', '6041', '25', '5461', '6915', '4545', '4340', '1230',
        '61', '1258', '3148', '4687', '4732', '3519', '1580', '2822',
        '181', '3158', '4383', '3881', '4037', '202', '292', '330',
        '2209', '4550', '4435', '4779', '1831', '2255', '539', '5464',
        '6041', '4068', '4683', '4033', '6314', '614', '3149', '4005',
        '4880', '4136', '705', '570', '269', '4275', '5999', '4421',
        '6930', '5195', '546', '493', '995', '1163', '6676', '3608',
        '774', '1421', '4064', '2725', '5934', '1867', '3721', '2374',
        '2909', '1648', '799', '7102', '3941', '7422', '437', '1231',
        '1696', '4921', '221', '6500', '3575', '4061', '651', '753',
        '518', '5537', '4108', '5376', '3066', '177', '36', '299',
        '1447', '2599', '702', '133', '153', '500', '2127', '2203'],
       ['Neutral', 'Sad', 'Sad', 'Sad', 'Neutral', 'Sad', 'Sad', 'Sad',
        'Sad', 'Sad', 'Sad', 'Sad', 'Happy', 'Sad', 'Sad', 'Sad', 'Sad',
        'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral',
        'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
        'Happy', 'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy',
        'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Neutral',
        'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
        'Happy', 'Happy', 'Neutral', 'Sad', 'Happy', 'Happy', 'Happy',
        'Happy', 'Happy', 'Happy', 'Happy', 'Sad', 'Neutral', 'Neutral',
        'Sad', 'Sad', 'Neutral', 'Neutral', 'Happy', 'Neutral',
        'Neutral', 'Sad', 'Neutral', 'Sad', 'Neutral', 'Neutral', 'Sad',
        'Sad', 'Sad', 'Sad', 'Happy', 'Neutral', 'Happy', 'Neutral',
        'Sad', 'Sad', 'Sad', 'Neutral', 'Neutral', 'Sad', 'Sad', 'Happy',
        'Neutral', 'Neutral', 'Happy'],
       ['181', '197', '0', '174', '223', '149', '140', '38', '1', '40',
        '101', '152', '150', '113', '49', '86', '6', '99', '143', '125',
        '129', '6', '9', '10', '72', '150', '141', '156', '57', '72',
        '17', '181', '197', '131', '154', '137', '193', '19', '101',
        '139', '164', '137', '22', '17', '9', '145', '192', '146', '234',
        '167', '16', '17', '32', '35', '220', '116', '23', '44', '131',
        '86', '194', '60', '121', '76', '93', '53', '25', '227', '125',
        '243', '14', '39', '55', '158', '7', '213', '116', '129', '21',
        '28', '16', '180', '138', '176', '99', '5', '1', '10', '47',
        '84', '23', '4', '0', '0', '0', '0'],
       ['5', '8', '5', '4', '5', '6', '6', '7', '5', '6', '8', '5', '6',
        '7', '5', '6', '8', '5', '4', '5', '6', '8', '5', '6', '5', '8',
        '5', '4', '5', '4', '5', '4', '3', '2', '9', '5', '6', '4', '5',
        '8', '4', '5', '6', '5', '6', '5', '6', '5', '6', '5', '6', '7',
        '6', '7', '6', '5', '6', '7', '8', '8', '7', '8', '5', '4', '3',
        '3', '4', '5', '5', '5', '3', '4', '4', '5', '5', '5', '5', '5',
        '5', '4', '3', '4', '5', '5', '4', '5', '3', '3', '3', '2', '3',
        '2', '8', '5', '5', '5'],
       ['Inactive', 'Inactive', 'Inactive', 'Inactive', 'Active',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Active', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Active', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Active', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Inactive', 'Active', 'Active', 'Active', 'Active', 'Active',
        'Active', 'Active', 'Active', 'Active', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Active',
        'Active', 'Active', 'Active', 'Active', 'Active', 'Active',
        'Active', 'Active', 'Active', 'Active', 'Active', 'Inactive',
        'Active', 'Active', 'Inactive', 'Active', 'Active', 'Active',
        'Active', 'Active', 'Inactive', 'Active', 'Active', 'Active',
        'Active', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Active', 'Active', 'Active', 'Active', 'Inactive', 'Inactive',
        'Inactive', 'Inactive', 'Inactive', 'Inactive', 'Inactive',
        'Inactive', 'Active', 'Inactive', 'Active']], dtype='<U10')

Unpacking/multi assignment

In [9]:
a,b = (2,3)
print(a,b)

2 3

In [11]:
date,step_count,mood,calories_burned,hours_of_sleep,activity = data.T

In [12]:
len(date)

96

In [30]:
mood

array(['Neutral', 'Sad', 'Sad', 'Sad', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Sad', 'Sad', 'Sad', 'Sad', 'Happy', 'Sad', 'Sad', 'Sad', 'Sad',
       'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral',
       'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Neutral',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Neutral', 'Sad', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Sad', 'Neutral', 'Neutral',
       'Sad', 'Sad', 'Neutral', 'Neutral', 'Happy', 'Neutral', 'Neutral',
       'Sad', 'Neutral', 'Sad', 'Neutral', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Sad', 'Happy', 'Neutral', 'Happy', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Neutral', 'Neutral', 'Sad', 'Sad', 'Happy', 'Neutral', 'Neutral',
       'Happy'], dtype='<U10')

In [14]:
step_count

array(['5464', '6041', '25', '5461', '6915', '4545', '4340', '1230', '61',
       '1258', '3148', '4687', '4732', '3519', '1580', '2822', '181',
       '3158', '4383', '3881', '4037', '202', '292', '330', '2209',
       '4550', '4435', '4779', '1831', '2255', '539', '5464', '6041',
       '4068', '4683', '4033', '6314', '614', '3149', '4005', '4880',
       '4136', '705', '570', '269', '4275', '5999', '4421', '6930',
       '5195', '546', '493', '995', '1163', '6676', '3608', '774', '1421',
       '4064', '2725', '5934', '1867', '3721', '2374', '2909', '1648',
       '799', '7102', '3941', '7422', '437', '1231', '1696', '4921',
       '221', '6500', '3575', '4061', '651', '753', '518', '5537', '4108',
       '5376', '3066', '177', '36', '299', '1447', '2599', '702', '133',
       '153', '500', '2127', '2203'], dtype='<U10')

In [15]:
hours_of_sleep

array(['5', '8', '5', '4', '5', '6', '6', '7', '5', '6', '8', '5', '6',
       '7', '5', '6', '8', '5', '4', '5', '6', '8', '5', '6', '5', '8',
       '5', '4', '5', '4', '5', '4', '3', '2', '9', '5', '6', '4', '5',
       '8', '4', '5', '6', '5', '6', '5', '6', '5', '6', '5', '6', '7',
       '6', '7', '6', '5', '6', '7', '8', '8', '7', '8', '5', '4', '3',
       '3', '4', '5', '5', '5', '3', '4', '4', '5', '5', '5', '5', '5',
       '5', '4', '3', '4', '5', '5', '4', '5', '3', '3', '3', '2', '3',
       '2', '8', '5', '5', '5'], dtype='<U10')

In [31]:
#Here type of all the above array element is string

print(type(mood))
print(type(mood[0]))

<class 'numpy.ndarray'>
<class 'numpy.str_'>

In [35]:
#Convert these array into int
steps_count = np.array(step_count,dtype=int)
hours_of_sleep = np.array(hours_of_sleep,dtype=int)
calories_burned = np.array(calories_burned,dtype=int)

In [38]:
#Here type of array element after converting to int
print(type(steps_count))
print(type(steps_count[0]))

<class 'numpy.ndarray'>
<class 'numpy.int64'>

In [41]:
#Another method to convert these array into int
calories_burned.astype(int)

array([181, 197,   0, 174, 223, 149, 140,  38,   1,  40, 101, 152, 150,
       113,  49,  86,   6,  99, 143, 125, 129,   6,   9,  10,  72, 150,
       141, 156,  57,  72,  17, 181, 197, 131, 154, 137, 193,  19, 101,
       139, 164, 137,  22,  17,   9, 145, 192, 146, 234, 167,  16,  17,
        32,  35, 220, 116,  23,  44, 131,  86, 194,  60, 121,  76,  93,
        53,  25, 227, 125, 243,  14,  39,  55, 158,   7, 213, 116, 129,
        21,  28,  16, 180, 138, 176,  99,   5,   1,  10,  47,  84,  23,
         4,   0,   0,   0,   0])

In [42]:
type(step_count)

numpy.ndarray

In [44]:
int(step_count) #this will give error as step_count is a numpy ndarry type(vector) not scalar

TypeError: only length-1 arrays can be converted to Python scalars

In [45]:
steps_count

array([5464, 6041,   25, 5461, 6915, 4545, 4340, 1230,   61, 1258, 3148,
       4687, 4732, 3519, 1580, 2822,  181, 3158, 4383, 3881, 4037,  202,
        292,  330, 2209, 4550, 4435, 4779, 1831, 2255,  539, 5464, 6041,
       4068, 4683, 4033, 6314,  614, 3149, 4005, 4880, 4136,  705,  570,
        269, 4275, 5999, 4421, 6930, 5195,  546,  493,  995, 1163, 6676,
       3608,  774, 1421, 4064, 2725, 5934, 1867, 3721, 2374, 2909, 1648,
        799, 7102, 3941, 7422,  437, 1231, 1696, 4921,  221, 6500, 3575,
       4061,  651,  753,  518, 5537, 4108, 5376, 3066,  177,   36,  299,
       1447, 2599,  702,  133,  153,  500, 2127, 2203])

In [ ]:
#avg step count
np.mean(steps_count)

2935.9375

In [46]:
#day my step count is highest? Following line will give max step count, not the day at which max step count happened
np.max(steps_count)

7422

In [47]:
#index values
np.argmax(steps_count)

69

In [50]:
#day my step count is highest?
date[69]

'14-12-2017'

In [48]:
#day my step count is highest?
#method 1
date[np.argmax(steps_count)]

'14-12-2017'

In [54]:
#alternate way to solve by masking/fancy indexing
steps_count == 7422

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [51]:
#method 2
date[steps_count == np.max(steps_count)]

array(['14-12-2017'], dtype='<U10')

Q. In the above output what does '<U10' mean?

A.
In Python, especially when working with libraries like NumPy, "dtype" stands for "data type." It specifies the type of data stored in a NumPy array.

In the context of dtype='<U10', here's what each part means:

dtype: It indicates the data type.
'<U10': This is a specific dtype code indicating a Unicode string with a maximum length of 10 characters.
Breaking it down further:

'U': This indicates Unicode strings.
10: This specifies the maximum length of each string element.
So, dtype='<U10' signifies that the array contains Unicode strings, each with a maximum length of 10 characters.

Q. The difference between argmax and masking?

A. If we have array [10, 10, 1, 2, 3]. argmax will give 1st index which have max value i.e. 0, whereas masking method will give both index i.e. 0 and 1.

In [52]:
#avg step count when mood is sad
#avg step count when mood is happy
mood

array(['Neutral', 'Sad', 'Sad', 'Sad', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Sad', 'Sad', 'Sad', 'Sad', 'Happy', 'Sad', 'Sad', 'Sad', 'Sad',
       'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral', 'Neutral',
       'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Neutral', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Neutral',
       'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Neutral', 'Sad', 'Happy', 'Happy', 'Happy',
       'Happy', 'Happy', 'Happy', 'Happy', 'Sad', 'Neutral', 'Neutral',
       'Sad', 'Sad', 'Neutral', 'Neutral', 'Happy', 'Neutral', 'Neutral',
       'Sad', 'Neutral', 'Sad', 'Neutral', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Sad', 'Happy', 'Neutral', 'Happy', 'Neutral', 'Sad', 'Sad', 'Sad',
       'Neutral', 'Neutral', 'Sad', 'Sad', 'Happy', 'Neutral', 'Neutral',
       'Happy'], dtype='<U10')

In [55]:
mood == 'Happy'

array([False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False,  True, False, False, False, False, False, False,
       False, False,  True, False, False,  True])

In [56]:
np.mean(steps_count[mood == 'Happy'])

3392.725

In [57]:
np.mean(steps_count[mood == 'Sad'])

2103.0689655172414

In [58]:
steps_count[(mood == 'Sad') | (mood == 'Neutral')]

array([5464, 6041,   25, 5461, 6915, 4545, 4340, 1230,   61, 1258, 3148,
       4687, 3519, 1580, 2822,  181, 3158, 4383, 3881, 4037,  202,  292,
       2209, 6041,  570, 1163, 6676, 3721, 2374, 2909, 1648,  799, 7102,
       3941,  437, 1231, 1696, 4921,  221, 6500, 3575, 4061,  651,  753,
        518, 4108, 3066,  177,   36,  299, 1447, 2599,  702,  133,  500,
       2127])

#sorting

In [59]:
a = np.array([9,3,2,5,1,6])
np.sort(a) #copy of array

array([1, 2, 3, 5, 6, 9])

In [60]:
a

array([9, 3, 2, 5, 1, 6])

In [61]:
a.sort() #default is asc, this is inplace method

In [62]:
a

array([1, 2, 3, 5, 6, 9])

In [63]:
#desc #jugaad
a = np.array([9,3,2,5,1,6])
print(a)
a.sort()
print(a)
a[::-1]

[9 3 2 5 1 6]
[1 2 3 5 6 9]

array([9, 6, 5, 3, 2, 1])

Q. In above code what does a[::-1] mean?

A.In Python, when you use slicing notation [::-1], it reverses the order of elements in the sequence a.

Here's what each part means:

a: This is the sequence or collection that you want to reverse.
[::-1]: This is the slicing notation that specifies the start, stop, and step parameters for the slice. In this case, ::-1 indicates:
:: This indicates that you want to slice the entire sequence.
::: This indicates that you want to consider every element.
-1: This indicates the step size of -1, meaning that you're iterating through the sequence in reverse order.
Putting it all together, a[::-1] reverses the order of elements in the sequence a. For example:

In [65]:
# function help method can be called as below
np.sort?

#sorting in 2d

In [66]:
a = np.array([[6,2,3],[4,9,2],[8,2,1]])
a

array([[6, 2, 3],
       [4, 9, 2],
       [8, 2, 1]])

In [67]:
a.shape

(3, 3)

In [70]:
np.sort(a) #defult axis = 1

array([[2, 3, 6],
       [2, 4, 9],
       [1, 2, 8]])

In [71]:
np.sort(a,axis=1)

array([[2, 3, 6],
       [2, 4, 9],
       [1, 2, 8]])

In [72]:
a

array([[6, 2, 3],
       [4, 9, 2],
       [8, 2, 1]])

In [73]:
np.sort(a,axis=0)

array([[4, 2, 1],
       [6, 2, 2],
       [8, 9, 3]])

In [ ]:
np.sort(a.flatten())

array([1, 2, 2, 2, 3, 4, 6, 8, 9])

In [ ]:
np.sort(a.flatten()).reshape(a.shape) #complete sorting

array([[1, 2, 2],
       [2, 3, 4],
       [6, 8, 9]])

In [ ]:
a = np.array([[6,2,3],[4,9,2],[8,2,1]])
a

array([[6, 2, 3],
       [4, 9, 2],
       [8, 2, 1]])

In [ ]:
np.sort(a,axis= None).reshape(a.shape)

array([[1, 2, 2],
       [2, 3, 4],
       [6, 8, 9]])

In [ ]:
#quiz
a = np.array([[23,4,43],
              [12,89,3],
              [69,420,0]])
b = np.sort(a)
b

array([[  4,  23,  43],
       [  3,  12,  89],
       [  0,  69, 420]])

#Element Wise operations

In [ ]:
a = np.arange(1,6)
a

array([1, 2, 3, 4, 5])

In [ ]:
a+5

array([ 6,  7,  8,  9, 10])

In [ ]:
a*5

array([ 5, 10, 15, 20, 25])

In [ ]:
b = np.arange(6,11)
b

array([ 6,  7,  8,  9, 10])

In [ ]:
a

array([1, 2, 3, 4, 5])

In [ ]:
a+b

array([ 7,  9, 11, 13, 15])

In [ ]:
a*b

array([ 6, 14, 24, 36, 50])

In [ ]:
c = np.arange(1,4)
c

array([1, 2, 3])

In [ ]:
a+c

ValueError: operands could not be broadcast together with shapes (5,) (3,)

In [ ]:
a*c

ValueError: operands could not be broadcast together with shapes (5,) (3,)

#2d arrays

In [ ]:
a = np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
b = np.arange(2,14).reshape(3,4)
b

array([[ 2,  3,  4,  5],
       [ 6,  7,  8,  9],
       [10, 11, 12, 13]])

In [ ]:
a+b

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18, 20, 22, 24]])

In [ ]:
a*b

array([[  0,   3,   8,  15],
       [ 24,  35,  48,  63],
       [ 80,  99, 120, 143]])

In [ ]:
c = np.arange(2,14).reshape(6,2)

In [ ]:
c

array([[ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13]])

In [ ]:
a+c

ValueError: operands could not be broadcast together with shapes (3,4) (6,2)

In [ ]:
a*c

ValueError: operands could not be broadcast together with shapes (3,4) (6,2)

#matrix multiplication

In [ ]:
# np.dot(),np.matmul()

In [ ]:
a = np.arange(1,5).reshape(2,2)
a

array([[1, 2],
       [3, 4]])

In [ ]:
b = np.arange(2,8).reshape(2,3)
b

array([[2, 3, 4],
       [5, 6, 7]])

In [ ]:
a*b

ValueError: operands could not be broadcast together with shapes (2,2) (2,3)

In [ ]:
np.matmul(a,b)

array([[12, 15, 18],
       [26, 33, 40]])

In [ ]:
np.dot(a,b) #most common

array([[12, 15, 18],
       [26, 33, 40]])

In [ ]:
np.matmul(a,5) #arrays

ValueError: matmul: Input operand 1 does not have enough dimensions (has 0, gufunc core with signature (n?,k),(k,m?)->(n?,m?) requires 1)

In [ ]:
np.dot(a,5) #array , scalar

array([[ 5, 10],
       [15, 20]])

In [ ]:
a1 = np.array([1,2,3])
a2 = np.array([3,4,5])
np.matmul(a1,a2)

26

In [ ]:
np.dot(a1,a2)

26

In [ ]:
a @ b

array([[12, 15, 18],
       [26, 33, 40]])

#Vectorization


Vectorization in NumPy refers to performing operations on entire arrays or array elements simultaneously, which is significantly faster and more efficient than using explicit loops.

In [ ]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
a**2 #parallel processing

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [ ]:
def new_ops(x):
  if x%2 == 0:
    return x**2
  else:
    return x**3

In [ ]:
new_ops(2)

4

In [ ]:
new_ops(3)

27

In [ ]:
new_ops(a)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
def new_ops(x):
  if x%2 == 0:
    return x**2
  else:
    return x**3

In [ ]:
for i in a:
  # print(i)
  print(new_ops(i),end=' ')

0 1 4 27 16 125 36 343 64 729

In [ ]:
cool_ops = np.vectorize(new_ops)

In [ ]:
cool_ops(a)

array([  0,   1,   4,  27,  16, 125,  36, 343,  64, 729])

In [ ]:
import math

In [ ]:
a = np.arange(2,11)
a

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
math.log(64)

4.1588830833596715

In [ ]:
math.log(1000)

6.907755278982137

In [ ]:
math.log(a)

TypeError: only length-1 arrays can be converted to Python scalars

In [ ]:
log_vect = np.vectorize(math.log)

In [ ]:
log_vect(a)

array([0.69314718, 1.09861229, 1.38629436, 1.60943791, 1.79175947,
       1.94591015, 2.07944154, 2.19722458, 2.30258509])

#doubts

In [ ]:
a = np.arange(1,13).reshape(4,3)
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
a.ndim

2

In [ ]:
a.shape

(4, 3)

In [ ]:
#2d to 1d
a.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])